<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/styles.css">
  <title>Statistics</title>
</head>
<body>
  <header>
    <h1>
      Statistics
    </h1>
    <p>
      This is a part of the third workshop of Practical JavaScript Course
    </p>
  </header>

  <ul>
    <li>
      <a href="../Statistics/Average/index.html">Average</a>
    </li>
    <li>
      <a href="../Statistics/Median/index.html">Median</a>
    </li>
    <li>
      <a href="../Statistics/Mean/index.html">Mean</a>    
  </ul>
</body>
</html>