// Global Styles
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62%;
}

body {
  align-items: center;
  background: $color-background;
  color: $color-text;
  font-family: 'Nunito', sans-serif;
}
