// Global Styles
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62%;
}

body {
  align-items: center;
  background: $color-background;
  color: $color-text;
  font-family: 'Nunito', sans-serif; 
}

a:link {
  color: darken($secundary, 20%);
  text-decoration: none;
}

a:hover {
  color: darken($secundary, 20%);
}

a:visited {
  color: ligthen($secundary, 5%);
}

a:active {
  color: darken($secundary, 30%);
}

.main {

  &__nav {
    margin: 0 auto;
    width: 95%;

    ul {
      display: flex;
      justify-content: flex-end;
      
      li {
        font-size: 15px;
        list-style: none;
        margin: 10px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
    padding: 20px 0;
    width: 250px;

    img {
      display: block;
      height: 180px;
      margin: 25px auto 0;
      width: 180px;
    }

    a {
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .main {

    &__container {
      display: flex;
      flex-direction: row;
    }

    &__card {
      width: 180px;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    &__nav {
      ul {
        li {
          font-size: 20px;
          margin: 15px;
        }
      }
    }

    &__card {
      width: 280px;
    }
  }
}