// Variables Styles

$primary: #B3C2F2;
$secundary: #735CDD;
$white: #ffffff;
$black: #000000;
$error: #da1b22;
$color-background: mix($white, $secundary, 85%) !default;
$color-text: scale-color($color-background, $lightness: -65%) !default;